<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../static/img/favicon.png"/>
  <link rel="stylesheet" href="../static/css/registration.css">
  <title>Страница регистрации</title>
</head>
<body class="wrapper">

<div class="header">
    <div class="logo">
        TBH
    </div>
    <img class="logo2" src="../static/img/logo2.png" alt="logo sovkombank" width="250px" height="30px">
</div>

<div class="menuBlock">
  <div class="menu">
    <h1 class="title">Регистрация</h1>

    <form class="form" method="post" action="">
      {% csrf_token %}
      <input class="input" type="text" name="email" placeholder="Email">
      <input class="input" type="password" name="password" placeholder="Пароль">
      <button class="button" type="submit">Регистрация</button>
    </form>

    <form class="form" action="{% url 'auth' %}">
      {% csrf_token %}
       <p style="color: gray">Уже имеется аккаунт? <a style="color: white; text-decoration: none" href="{% url 'auth' %}">Войдите</a></p>
    </form>

    <form action="{% url 'admin' %}">
      <button class="button admin" type="submit">Админ-панель</button>
    </form>
  </div>
</div>
</body>
</html>