@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Golos+Text:wght@400;500;600;700&display=swap');

*, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #1c1c1c;
    width: 100%;
}

.logo {
    color: #ffffff;
    font-family: 'Alfa Slab One', serif;
    font-size: 50px;
    padding: 30px;
    margin-bottom: 10vh;
}

.logo2 {
    padding: 48px;
    margin-bottom: 10vh;
}

.menuBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    background: #323232;
    backdrop-filter: blur(10%);
    height: 600px;
    width: 450px;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 30px 0;
    flex: 1;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
}

.input {
    width: 300px;
    height: 40px;
    margin: 10px;
    border: none;
    background: none;
    border-bottom: solid #cccccc 2px;
    color: white;
    font-size: 20px;
}

.input:focus {
    outline: none !important;
    border-bottom-color: #ff9000 !important;
}

.button {
    min-width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    margin: 50px 0;
    font-size: 20px;
    padding: 30px;
    font-weight: 500;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #1c1c1c;
    color: #1c1c1c;
}

.admin {
    position: absolute;
    right: 50px;
    top: 0;
    background: lightskyblue;
    color: #000;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    padding: 30px 0;
    flex: 1;
    font-size: 20px;
    gap: 10px;
}

.subtitle button {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

#btn-reg {
    background-color: #1c1c1c !important;
}

.header {
    display: flex;
    flex-direction: row;
}

@media (max-width: 992px) {
    .menu {
        height: 600px;
        width: 350px;
    }

    .title {
        font-size: 40px;
    }

    .input {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
    }

    .subtitle, .subtitle button {
        font-size: 18px;
    }

    .header {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .menu {
        height: 600px;
        width: 250px;
    }

    .title {
        font-size: 30px;
    }

    .input {
        width: 200px;
        font-size: 16px;
    }

    .button {
        font-size: 16px;
    }

    .subtitle {
        flex-direction: column;
        align-items: center;
    }

    .subtitle button {
        font-size: 16px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .menu {
        height: 700px;
    }

    .button {
        font-size: 14px;
    }

    .admin {
        position: relative;
        right: 0;
    }

    .subtitle {
        flex-direction: column;
        align-items: center;
    }

    .subtitle button {
        font-size: 16px;
        align-items: center;
    }
}